
:root {
  --color-red: #F05454;
  --color-yellow: #FFD369;
  --color-lightgrey: #9D9D9D;
  --color-darkgrey: #393E46;
  --color-black: #222831;
  --color-white: #EEEEEE;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-content{
  background-color: var(--color-white);
}

p {
  font-family: 'VT323', monospace;
  color: var(--color-black);
  text-align: center;
  font-size: 1.25rem;
}

body {
  font-family: 'VT323', monospace;
  font-weight: 400;
  color: var(--color-white);
  font-size: 16px;
  background-color: var(--color-black);
  transition: width 2s;
}

h1 {
  color: var(--color-yellow);
  align-items: flex-start;
  margin: 20px;
  font-size: 3rem;
  line-height: 1rem;
}

h2 {
  color: var(--color-darkgrey);
  text-transform: capitalize;
  margin-left: 20px;
}

input {
  min-width: 200px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  list-style-type: none;
  padding: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--color-black);
  text-transform: capitalize;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  list-style-type: none;
  margin: 15px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  transition: transform 250ms;
  will-change: transform;
}

.btn:hover , .btn:active {
  color: var(--color-white);
  background-color: var(--color-darkgrey);
  transition: transform 125ms;
  transform: translateY(-10px);
  box-shadow: 0px 13px 20px 5px rgba(0,0,0,0.35);
}

button.btn.btn-secondary {
  background-color: var(--color-yellow);
  box-shadow: none;
}

button.btn.btn-secondary:hover,  button.btn.btn-secondary:active{
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.hide {
  display: none;
}