
:root {
  --color-red: #F05454;
  --color-yellow: #FFD369;
  --color-lightgrey: #9D9D9D;
  --color-darkgrey: #393E46;
  --color-black: #222831;
  --color-white: #EEEEEE;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-content{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  outline: 0;
}

.modal-body {
  text-align: center;
}

ul {
  text-align: center;
}

p {
  font-family: 'VT323', monospace;
  color: var(--color-black);
  text-align: center;
  font-size: 1.25rem;
}

body {
  font-family: 'VT323', monospace;
  font-weight: 400;
  color: var(--color-white);
  font-size: 16px;
  background-color: var(--color-black);
  transition: width 2s;
}

h1 {
  color: var(--color-yellow);
  align-items: flex-start;
  margin: 20px;
  font-size: 3rem;
  line-height: 1rem;
}

h2 {
  color: var(--color-darkgrey);
  text-transform: capitalize;
  margin-left: 20px;
}

input {
  min-width: 200px;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  list-style: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--color-black);
  text-transform: capitalize;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  list-style-type: none;
  margin: 15px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  transition: transform 250ms;
  will-change: transform;
}

.btn:hover , .btn:active {
  color: var(--color-white);
  background-color: var(--color-darkgrey);
  transition: transform 125ms;
  transform: translateY(-10px);
  box-shadow: 0px 13px 20px 5px rgba(0,0,0,0.35);
}

button.btn.btn-secondary {
  background-color: var(--color-yellow);
  box-shadow: none;
}

button.btn.btn-secondary:hover,  button.btn.btn-secondary:active{
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.hide {
  display: none;
}

span {
  border-radius: 5px;
  padding: 0.3rem;
  margin: 5px;
}

/* Pokemon type class colors  */

.ghost {
  background-color: #65549e;
}

.steel {
  background-color: #8884a4;
}

.dragon {
  background-color: #3c3cbc;
}

.flying {
  background-color: #7aa1f2;
}

.water {
  background-color: #3a8eea;
}

.ice {
  background-color: #67d5e7;
}

.grass {
  background-color: #56ba43;
}

.bug {
  background-color: #869e2a;
}

.normal {
  background-color: #afa485;
}

.electric {
  background-color: #f3c234;
}

.ground {
  background-color: #b7904a;
}

.rock {
  background-color: #926746;
}

.fire {
  background-color: #e76c2f;
}

.fighting {
  background-color: #823530;
}

.dark {
  background-color: #443838;
}

.psychic {
  background-color: #f25685;
}

.fairy {
  background-color: #f787e9;
}

.poison {
  background-color: #85409d;
}